body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.container{
    display: flex;
}

.main-container {
    width: 70%;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

aside{
    width: 20%;;
    margin: 2rem auto;
    background-color: rgb(223, 223, 223);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    flex: 0 0 30%; /* Los labels ocuparán el 30% del espacio disponible */
    font-weight: bold;
    margin-right: 1rem; /* Espaciado entre el label y el campo */
    text-align: right; /* Alinea el texto del label a la derecha */
}

input {
    flex: 1; /* Los campos de entrada ocuparán el resto del espacio disponible */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {
    display: flex;
    align-items: center;
    width: 100%; 
}

button {
    flex: 1 1 100%;
    padding: 0.7rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

section {
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f9;
    color: #777;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-formulario {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 40%;
    margin: auto; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

